nav {
    display: flex;
    background-color: var(--tan);
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  nav a {
    color: var(--seondary);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    background-color: var(--white);
    color: var(--dark-blue);
  }

  header h1 {

    background-color: var(--seondary );
   
  }

  header {
      padding: 12px;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      background-color: rgb(82, 98, 151);
  }

body {
  background-color: cadetblue;
}